body {
    background-color: rgb(89,63,255);
  }
  img {
    animation-name: x;
    animation-duration: 1s;
    width: 9%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
  }
  @keyframes x {
    from {width: 0%;}
    to {width: 9%;}
  }
p {
font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}
.parallax {
  background-image: url("Untitled-1 (62).png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
